#logo{
  position:absolute;
  top:-400px;
  border: solid 1px;
  width:15%;
  padding:2em;
  background-color:purple;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}
